<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> IntelliAssist | Home</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">IntelliAssist
        </a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Enhancing user experience </div>
    <div class="sub_title">using advanced virtual chatbox</div>
    <div class="btns">
      <a href=".get_started()" target="_blank">
        <button>Get Started</button>
    </a>
    </div>
  </div>
</body>
</html>